
//auth-nav

#auth-pane{
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  padding: 0;
  background-color: #f5f5f5;
  border-right: 1px solid #d9d9d9;
  box-shadow: -1px 1px 6px rgba(0,0,0,0.35);
  z-index:3;

  .auth-info{
    padding: 60px 30px 0;
    text-align: center;
    color: #999;
    font-size: 14px;

    .auth-img{
      width: 90px;
      height: 90px;
      display: block;
      border-radius: 50%;
      margin: 0 auto 20px;
    }
    .edit-info{
      margin-bottom: 10px;
    }
    .auth-name{
      font-size: 26px;
      margin-bottom: 20px;
      color: #333;
    }
    .auth-intro{
      margin-bottom: 20px;
    }
    .auth-count{
      color: #777;
      i{
        margin-left: 5px;
        margin-right: 20px;
      }
    }
  }
}


#main-panel{
  position: relative;
  margin-left: 300px;
  width: -webkit-calc(100% - 300px);
  width: -moz-calc(100% - 300px);
  width: calc(100% - 300px);
  background-color: #f5f5f5;
}

#auth-list{
  padding: 40px;
}
//edit panel

#edit{

  .article-title{
    padding: 10px;
    border-bottom: 1px solid #ddd;

    .input-lg,.input-lg:focus{
      border: 0;
      outline: 0;
      box-shadow: none;
      font-size: 24px;
      color: #333;
    }
  }

  .format-tools{
    position: relative;
    background-color: #e5e5e5;
    border-bottom: 1px solid #ddd;
    padding: 0 30px;
    ul{
      list-style: none;
      margin:0;
      li{
        display: inline-block;
        width: 39px;
        height: 39px;
        text-align: center;
        line-height: 39px;
        font-size: 18px;
        color: #666;

        &:hover{
          background-color: #666;
          color: #fff;
        }
      }
      li.active{
        background-color: #666;
        color: #fff;
      }
    }
    .btn{
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .article-content{
    padding: 30px;
    outline: 0;
    border: 0;
    box-shadow: 0;

    blockquote{
      min-height: 47px;
      margin: 20px 0;
    }
  }

}